<mat-sidenav-container fullscreen>
    <mat-sidenav color="black" mode="side" #sidenav opened position="start">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
          
          
          <button mat-button class="menu-button" 
          (click)="sidenav.toggle()">
              <mat-icon><img src="./icon.png" alt="icon"/>menu</mat-icon>
          </button>
        <!-- <button type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()">
        
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> -->
        <!-- <input type="checkbox" [(ngModel)]="model" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label> -->
        My Application
        <span class="toolbar-spacer"></span>
        My Account
      </mat-toolbar>
      <div class="main-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  