@import "@angular/material/prebuilt-themes/indigo-pink.css" ;
.mat-sidenav {
    width: 280px;
    padding:15px;
    color: black;
    transition-timing-function: ease-in-out;
}
.mat-drawer { 
    background-color: #023075;
    color:#fff
}
.menu-button {
    margin-right: 24px;
    min-width: 0;
    padding: 0;
    line-height: normal;
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.sidebarIconToggle{
    display:block
 }