@import "@angular/material/prebuilt-themes/indigo-pink.css" ;
.mat-sidenav {
    width: 280px;
    padding:15px;
    border: gray;
    // background-color: white;
    transition-timing-function: ease-in-out;
}
.mat-toolbar{
    background-color: rgb(179, 174, 174);
}
a{
    color: white;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    //padding-left: 50px;
    //border: solid gray;
    //width: 200px;
    
}
.loginform{
    height: 370px;
    width:300px;
    box-shadow: 5px 10px;
    border: solid gray;
}
h1{
    color: darkblue;
}
.email{
    margin-top: 25px;
}
.mat-drawer { 
    background-color: whitesmoke;
    color:#fff
}
.menu-button {
    margin-right: 24px;
    min-width: 0;
    padding: 0;
    line-height: normal;
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.sidebarIconToggle{
    display:block
 }
 .mat-button{
     width: 100px;
 }