
<mat-sidenav-container fullscreen>
    <mat-sidenav  mode="side" #sidenav opened position="start">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="sidenav.toggle()"
          *ngIf="true">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
  
          <!-- <button mat-button class="menu-button" 
          (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button> -->
        <!-- <button type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()">
        
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> -->
        <!-- <input type="checkbox" [(ngModel)]="model" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label> -->
        My Application
        <span class="toolbar-spacer"></span>
        My Account
      </mat-toolbar>
      <div [formGroup]="form" class="main-content">
        <div class="loginform">
          <h1>LOGIN</h1>
          <mat-form-field class="email">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email"></mat-form-field>
          <!-- <mat-error *ngIf="emailFormControl.hasError('minLength') && !emailFormControl.hasError('required')">
              Please enter a valid email address
          </mat-error> -->
          <mat-error *ngIf="form.dirty && form.get('email').value.length==0">Email is required</mat-error>
          <!-- <mat-hint>eg.abcd@gmail.com</mat-hint> -->
        <br>
      
      <mat-form-field class="pass">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-error *ngIf="form.dirty && form.get('password').value.length==0">Password is required</mat-error>
        <!-- <mat-hint>Min 8 characters</mat-hint> -->
        <br><br>

        <button mat-button color="primary" mat-raised-button (click)="submit()" [disable]="!enableSubmitBtn()">Login</button>
      </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  